.App {
  text-align: center;
}

h1 {
  font-family: 'Chewy', cursive;
  font-size: 80px;
  color: #121418;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
